*{
  padding: 0;
}

.sidenav {
  display: initial;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:black;
  overflow-x: hidden;
  transition: 0.5s;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(117, 117, 117);
    display: block;
    transition: 0.3s;
    a:hover {
      color: white;
    }

    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
}
.Menu{
  display: none;
  font-size:40px;
  cursor:pointer;
  height: 110%;
  margin-right: 1.5%;
  margin-top: 1%;
}



.menu-overlay {
  display: initial;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:transparent;
  overflow-x: hidden;
  transition: 0.5s;
  opacity: 1;

  margin-top: 30vh;
}

.side-active{

  height:30vh;

}
.menu-overlay-active {
  height:70vh;
}



@media only screen and (max-width:  800px){

    .Menu{
      display: flex;
      font-size:30px;

    }

}
@media only screen and (max-width:  600px) {

  .Menu {
    display: flex;
    font-size: 20px;
  }
}
